node_modules
dist
build
.env
.env.local
.git
bun.lockb
frontend.err.log
frontend.out.log
ml_service.err.log
ml_service.out.log
backend/node_modules
backend/uploads
backend/.env
ml_service/__pycache__
ml_service/.venv
ml_service/venv
*.log
.DS_Store
